<%= form_for(badge) do |f| %>
  <% if badge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(badge.errors.count, "error") %> prohibited this badge from being saved:</h2>

      <ul>
      <% badge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :badge_id %>
    <%= f.text_field :badge_id %>
  </div>

  <div class="field">
    <%= f.label :badge_template_id %>
    <%= f.text_field :badge_template_id %>
  </div>

  <div class="field">
    <%= f.label :issued_to %>
    <%= f.text_field :issued_to %>
  </div>

  <div class="field">
    <%= f.label :recipient_email %>
    <%= f.text_field :recipient_email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
