<p id="notice"><%= notice %></p>

<p>
  <strong>Badge:</strong>
  <%= @badge.badge_id %>
</p>

<p>
  <strong>Badge template:</strong>
  <%= @badge.badge_template_id %>
</p>

<p>
  <strong>Issued to:</strong>
  <%= @badge.issued_to %>
</p>

<p>
  <strong>Recipient email:</strong>
  <%= @badge.recipient_email %>
</p>

<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
